.wrapper-site-header_wrapper{
  display: flex;
  align-items: center;
  width: 100%;
  
}
.title-app{
  /* margin-left: 1%; */
  /* margin-right: 50%; */
 font-family: Roboto;
 width: 100%;
}
.nav_wrapper {
  display: flex;
  list-style: none; 
  margin-right: 0%; 
  gap: 6%;
  width: 100%;
  flex-basis: 20%;
}



.mainpage-container {
   /* background-image: url('pictures/IMGP5181.jpg'); */
  background-color: aliceblue;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; 
  /* background-color: blueviolet;  */
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  display: grid; 
  grid-auto-columns: 1fr; 
  grid-template-columns: 1.5fr 1.5fr 1.5fr; 
  grid-template-rows: 1fr 1fr 1fr; 
  gap: 10px 10px; 
  grid-template-areas: 
    "title-main title-main title-main"
    "photo-page-main ui-page-main design-page-main"
    "illustration-page-main blog-page-main app-page-main"
    ; 
}
.title-main { grid-area: title-main;
background-color: aliceblue;
opacity: 0.5;
margin-top: 0%; 
font-family: Roboto;
font-size: calc(40px + 2vmin);
font-style: normal;
font-weight: 800;
color: rgb(23, 23, 23);
}

.photo-page-main { 
  grid-area: photo-page-main;
  font-family: Roboto;
  /* width: calc(240px + 2vmin); */
  display: flex;
  flex-direction: column;
  height: 80%;
}
.ui-page-main { 
  grid-area: ui-page-main;
  /* width: calc(240px + 2vmin); */

 }
 .design-page-main {
   grid-area: design-page-main;
  width: calc(240px + 2vmin);


 }
 .illustration-page-main { 
  grid-area: illustration-page-main;
  width: calc(240px + 2vmin);

 }
 .blog-page-main { 
  grid-area: blog-page-main;
  width: calc(240px + 2vmin);


 }
.app-page-main { 
  grid-area: app-page-main; 
  width: calc(240px + 2vmin);

}

/* .photo-page-main:hover {
  background: #67c5ff;
  color: white;
} */
.ui-page-main:hover {
background: #67c5ff;
color: white;
}
.design-page-main:hover { 
  background: #67c5ff;
color: white;

 }
 .illustration-page-main:hover {
  background: #67c5ff;
color: white;
 }
 .blog-page-main:hover { 
  background: #67c5ff;
color: white;

 }
 .app-page-main:hover {
  background: #67c5ff;
  color: white;
  }
  .ui-page-main,.design-page-main,.illustration-page-main,.blog-page-main,.app-page-main{
  width: 100%;
  height: 100%;
  }
  .button-main{
    width: 100%;
    height: 100%;
    font-size: calc(40px + 2vmin);
  }
  .button-title-main{
    font-size: small;
  }



.ui-page-main,.design-page-main,.illustration-page-main,.blog-page-main,.app-page-main{
  font-family: Roboto;
  font-size: calc(40px + 2vmin);
  font-style: normal;
  font-weight: 400;
  opacity: 0.7;
  display: inline-block;
    padding: 0.3em 1em;
    text-decoration: none;
    color: #67c5ff;
    border: solid 2px #67c5ff;
    border-radius: 3px;
    transition: .4s;

}

/* link:hover{
    text-decoration: underline;
} */
.link{
  text-decoration: none;  
  margin-right:auto;
  margin-left:auto;
  height: 100%;
  width: 100%;



}
